<div *ngIf='showContent' class="container">
  <h2>Product Details</h2>
  <form [formGroup]="productForm" (ngSubmit)="submit(productForm)">
    <div class="form-group">
      <label for="name">Name<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="name" required
      formControlName="name" [(ngModel)]='product.name'>
    </div>
    <div class="form-group">
      <label for="category">Category<span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="category" required
      formControlName="category" [(ngModel)]='product.category' >
    </div>
    <div class="form-group">
      <label for="price">Price (INR)</label>
      <input type="number" class="form-control" id="price"
      formControlName="price" [(ngModel)]='product.price' >
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description" 
      [(ngModel)]='product.description'></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]='!productForm.valid'>Submit</button>
    <button *ngIf='parent=="view"' class="btn btn-light" (click)='viewInventory.emit("")'>Go Back</button>
  </form>
</div>
